<p-fieldset class="profilFieldSet" [legend]="'profilim' | translate " [toggleable]="true ">

    <div class="ui-grid ui-grid-pad ui-fluid" style="margin: 10px 0px;">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                {{'adiniz' | translate}} *:
            </div>
            <div class="ui-grid-col-12">
                <input pInputText type="text" placeholder="Required" />
            </div>
            <div class="ui-grid-col-12">
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                {{'soyadiniz' | translate}} *:
            </div>
            <div class="ui-grid-col-12">
                <input pInputText type="text" placeholder="Required" />
            </div>
            <div class="ui-grid-col-12">
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                {{'soyadiniz' | translate}} *:
            </div>
            <div class="ui-grid-col-12">
                <input pInputText type="text" placeholder="Required" />
            </div>
            <div class="ui-grid-col-12">
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-8">
                {{'maasiniz' | translate}} *:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText type="text" placeholder="Required" />
            </div>
            <div class="ui-grid-col-4">
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-8">
                {{'telefonnumaraniz' | translate}} *:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText type="text" placeholder="Required" />
            </div>
            <div class="ui-grid-col-4">
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-8">
                {{'evadresiniz' | translate}} *:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText type="text" placeholder="Required" />
            </div>
            <div class="ui-grid-col-4">
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-8">
                {{'isebaslamatarihiniz' | translate}} *:
            </div>
            <div class="ui-grid-col-4">
                <input pInputText type="text" placeholder="Required" />
            </div>
            <div class="ui-grid-col-4">
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                {{'istenayrilistarihiniz' | translate}} *:
            </div>
            <div class="ui-grid-col-12">
                <input pInputText type="text" placeholder="Required" />
            </div>
            <div class="ui-grid-col-12">
            </div>
        </div>

        <div class="ui-grid-row" style=" position: relative;">
            <p-button [label]="'guncelle' | translate"></p-button>
        </div>



    </div>


</p-fieldset>