<div class="ui-g ui-fluid" style="background-color: #2C3E50 ;">

    <div class="ui-g-12 ui-md-1">
        <p-button icon="pi pi-home" [label]="'anasayfa' | translate" routerLink="anasayfa"></p-button>
    </div>

    <div class="ui-g-12 ui-md-1">
        <p-button icon="pi pi-info" [label]="'profil' | translate" routerLink="profil"></p-button>
    </div>

    <div class="ui-g-12 ui-md-1">
        <p-button icon="pi pi-users" [label]="'calisanlar' | translate" routerLink="calisanlar"></p-button>
    </div>

    <div class="ui-g-12 ui-md-1">
        <p-button icon="pi pi-sliders-v" [label]="'gorevler' | translate" routerLink="gorevler"></p-button>
    </div>

    <div class="ui-g-12 ui-md-1">
        <p-button icon="pi pi-id-card" [label]="'musteriler' | translate" routerLink="musteriler"></p-button>
    </div>

    <div class="ui-g-12 ui-md-1">
        <p-button icon="pi pi-shopping-cart" [label]="'urunler' | translate" routerLink="urunler"></p-button>
    </div>

    <div class="ui-g-12 ui-md-1">
        <p-button icon="pi pi-briefcase" [label]="'varliklar' | translate" routerLink="finansalvarliklar"></p-button>
    </div>

    <div class="ui-g-12 ui-md-3">

    </div>

    <div class="ui-g-12 ui-md-2">
        <p-selectButton [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" (click)="translateService.use(selectedCountry.name)">
            <ng-template let-item>
                <div style="padding: .5em 1em; ">
                    <img style="vertical-align: middle; margin-right: .5em" src="assets/{{item.value.flag}}" height="25px" />
                </div>
            </ng-template>
        </p-selectButton>

    </div>



    <router-outlet></router-outlet>

</div>